.challengeBoxContainer{
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba( 0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 2rem;
    font-family: 'Radjhani', sans-serif;
}

.challengeNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
    font-size: 1.17rem;
}


.challengeNotActive img{
    margin-bottom: 3rem;
}

.challengeBoxActive{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.challengeBoxActive header{
    color: var(--blue);
    font-weight: 6000;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.challengeBoxActive main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.challengeBoxActive main strong{
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challengeBoxActive main p {
    line-height: 1.5;
}

.challengeBoxActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.challengeBoxActive footer button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: filter 0.2s;
    padding: 0 0.5rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

.challengeBoxActive footer button img{
    border: 1px solid yellow;
}


.challengeBoxActive footer button::after{
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}


.challengeBoxActive footer button:hover::after{
    animation: effectBrightness 1s forwards;
}

@keyframes effectBrightness{
    100%{
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}


.challengeBoxActive footer button.buttonChallengeBtnFail{
    background: var(--red);
}


.challengeBoxActive footer button.buttonChallengeBtnComplete{
    background: var(--green);
}


.challengeBoxActive fotter button:hover{
    filter: brightness(0.9 );
}
