.profileContainer{
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.1);
    padding: 10px 0px;
    border-radius: 5px;
}

.profileContainer > span {
    border: 2px solid var(--text-highlight);
    border-radius: 54%;
    padding: 5px;
    display: flex;
}

.profileContainer > span > img{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 58%;
    position: relative;
}


.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.profileContainer div p img{
    margin-right: 0.5rem;
}



