.sidebarContainer{
    height: 90px;
    width: 100%;
    background-color: var(--white);
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.sidebarContainer img {
    display: flex;
    max-height: 50px;
    margin: 0 auto;
}

.sidebarToggle{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    font-family: 'Rajdhani';
}


.sidebarToggle input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.sidebarToggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    margin: 8px 0px;
}

.sidebarToggle label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

.sidebarToggle input:checked + label {
    background-color: var(--blue);
}

.sidebarToggle input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.sidebarToggle label:active:after {
    width: 45px;
}


@media (min-width: 920px){
    .sidebarContainer{
        height: 100%;
        width: 100px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--white);
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}